.Carousel {
  position: relative;
  width: 240px;
  min-height: 320px;
  margin: 0px auto;
  background: #ffffff88;
  /* background: #ec6a4ada; */
  padding-top: 1rem;
  /* border: 3px solid red;
  border-radius: 3px; */
}

.CarouselInner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.CarouselInner2 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.CarouselItem {
  position: absolute;
  width: 240px;
  height: 320px;
  backface-visibility: hidden;
}
