.App {
}

.theme-christmas {
  background: rgb(247,248,243);
}

.Picker {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.Logo {
  padding-top: 2rem;
  width: 150px;
  max-width: 30%;
}

.Title {
  padding: 2rem;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #005826;
  text-align: center;
}

.theme-christmas .Title {
  color: #cc1d00;
  font-family: 'Mountains of Christmas', cursive;
}

@media (max-width: 1024px) {
  .Title {
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  .Title {
    font-size: 2rem;
  }
}

.Names {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.Name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NameText {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Name img {
  width: 200px;
  height: 200px;
}

.NoNames {
  position: absolute;
  color: #aaa;
}

.Hint {
  font-size: 0.9rem;
  color: #bbb;
}

.Shuffle {
  cursor: pointer;
  font-size: 5rem;
  border: none;
  background-color: #005826;
  width: 30%;
  min-width: 200px;
  line-height: 1;
  padding: 0.3rem 0.1rem 0.9rem 0.1rem;
  margin-top: 2rem;
  color: #fff;
  border-radius: 3px;
}

.theme-christmas .Shuffle {
  background: #cc1d00;
  color: rgb(236, 236, 226);
}


@media (max-width: 1024px) {
  .Shuffle {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  .Shuffle {
    font-size: 3rem;
  }
}

.Shuffle:disabled {
  opacity: 0.5;
}

.Editor {
  padding: 2rem;
}

.TitleInput {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 3px;
}

.Setting {
  margin-top: 1rem;
  font-size: 1em;
  display: block;
}

.PreviousPicks {
  margin: 2rem;
}
